/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2015, 12:55:58 PM
    Author     : ritchiefitzgerald
*/
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

body {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    background: url(../images/graffiti-salon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header,
footer {
    background-color: rgba(0, 0, 0, 0.88);
    color: #FFFFFF;
    padding: 10px 15px;
}
header {
    position: relative;
}
header a {
    color: #FFFFFF;
}

footer.col-md-12 {
    position: fixed;
    bottom: 0;
    text-align: center;
}
footer p {
    margin: 0;
}

.logo {
    font-family: 'Rock Salt', cursive;
    display: inline-block;
}
.logo a {
    display: inline-block;
    transition: all ease-in 0.2s;
}
.logo a:hover {
    text-decoration: none;
    color: #FFFFFF;
    transform: scale(1.1);
}

.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline-block;
}
.menu a {
    padding: 14px 15px;
}
.menu a:hover {
  color: #333;
  text-decoration: none;
  background-color: #FFF;
}

main {
    margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Patua One', cursive;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

/*Overrides*/
.btn {
    font-size: 1em;
    font-weight: 900;
}

.form-control {
    font-size: 1em;
}

.clear-bg.center-block {
    float: none;
}

/*Resuable classes*/
.clear-bg {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px 3% 40px;
}

.logo-font {
    font-family: 'Rock Salt', cursive;
}

.special-message {
    font-size: 1.5em;
    line-height: 1;
    margin: 30px 0;
}

.main-wrapper {
    float: none;
    margin: 30px auto;
}

/*Login Page*/
.login-page .col-md-6.clear-bg,
.login-page .col-md-10.clear-bg{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.login-page .logo-font {
    font-size: 2.5em;
}
.login-page a.logo-font {
    font-size: 1.4em;
    color: #333;
}

.login-page .col-md-8 {
    border-right: 3px solid rgba(51, 51, 51, 0.67);
}

/*User Home Page*/
.user-home-page .control-label+.col-md-9 {
    padding-top: 7px;
}